@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap');

html {
	scroll-behavior: smooth;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

body {
	background-color: #fcfcfc;
}

h1 {
	font-size: 3.5rem;
	font-weight: 700;
	text-transform: capitalize;
}

h2 {
	font-size: 2.5rem;
	font-weight: 700;
	color: #1e1666;
}

h3 {
	font-size: 2rem;
	font-weight: 600;
	color: #1e1666;
}

p {
	font-size: 1rem;
	font-weight: 400;
}

i {
	color: #1e1666;
}

a {
	text-decoration: none !important;
}

textarea {
	resize: none;
}

section {
	padding-top: 5rem;
}

.section-title {
	margin: 5rem 0 3rem;
}

/* Navbar */
.navbar .container {
	background: transparent;
	padding: 0.7rem 0;
}

.collapse {
	display: flex;
	justify-content: space-between;
	margin-left: 17rem;
}

.nav-link {
	font-weight: 500;
	margin-right: 1rem;
	color: #ffffff;
}

.nav-link:hover {
	font-weight: 500;
	color: #ffffff;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
	-moz-animation: glow 1s ease-in-out infinite alternate;
	animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
	from {
		text-shadow: 0 0 1px #ffffff, 0 0 1px #ffffff, 0 0 1px #ffffff, 0 0 1px #ffffff,
			0 0 1px #ffffff, 0 0 1px #ffffff, 0 0 1px #ffffff;
	}

	to {
		text-shadow: 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #a28d97,
			0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff;
	}
}

.navbar.active {
	background-color: rgba(1, 18, 70, 0.7);
	box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}

#login {
	font-weight: 600;
	color: #ffffff;
	border-radius: 0.5rem;
	margin-right: 1rem;
	padding-right: 1rem;
	padding-left: 1rem;
	background-color: #38b3ff;
}

#login:hover {
	background: #329ee1;
}

#sign-up {
	font-weight: 600;
	color: #ffffff;
	border-radius: 0.5rem;
	padding-right: 1rem;
	padding-left: 1rem;
	background-color: #8572ff;
}

#sign-up:hover {
	background-color: #7766e3;
}

/* Login Status */
.login-alert .card {
	z-index: 1;
	position: absolute;
	top: 1.5rem;
	background-color: #32cd32;
}

.login-alert {
	z-index: 1;
	animation: SH 1s;
	animation-fill-mode: both;
}

@keyframes SH {
	100% {
		opacity: 1;
		transform: scale(1);
	}

	0% {
		display: none;
		opacity: 0;
		transform: scale(1.2);
	}
}

.login-status-text {
	font-size: 1.7rem;
	font-weight: 700;
	margin: 0 auto;
	padding: 1rem;
	color: #ffffff;
}

form #logout {
	font-weight: 600;
	color: #ffffff;
	border-radius: 0.5rem;
	margin-right: 1rem;
	padding-right: 1rem;
	padding-left: 1rem;
	background-color: #ff2a2a;
}

form #logout:hover {
	background-color: #ea2626;
}

/* Hero Section */
#hero {
	background: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding-top: 4rem;
	padding-bottom: 10rem;
	margin-top: 0;
}

#hero::after {
	content: '';
	position: absolute;
	background-color: #fcfcfc;
	width: 100%;
	height: 25%;
	transform: skewy(-3deg);
	transform-origin: bottom right;
	bottom: 0;
	right: 0;
	left: 0;
}

.hero-text {
	padding-top: 6rem;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-text h1,
.hero-text p {
	color: #ffffff;
}

.image-box {
	position: relative;
	top: 5rem;
	z-index: 1;
}

.img-fluid {
	max-width: 110%;
	height: auto;
}

/* Features Section */
.feature-block {
	margin-bottom: 2.3rem;
	font-weight: 400;
	text-transform: capitalize;
	text-align: left;
}

.feature-block i {
	display: inline-block;
	font-size: 1.4rem;
	text-align: center;
	width: 3.4rem;
	height: auto;
	line-height: auto;
	padding: 1rem;
	border-radius: 50%;
	margin-bottom: 1rem;
	background-color: rgba(103, 119, 239, 0.1);
}

.feature-block p {
	font-size: 0.9rem;
}

/* Pricing Section */
#pricing .card i {
	font-size: 3.2rem;
	margin-bottom: 0.6rem;
}

.card {
	width: 100%;
	height: 100%;
	border: none;
}

.card-heading {
	margin-top: 2rem;
}

.card-body {
	border: none;
	border-radius: 0.5rem;
	padding: 2rem 1rem;
}

#pricing .card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.card-title {
	color: #1e1666;
	font-family: 'Crimson Text', serif;
	font-size: 1.7rem;
	font-weight: 700;
	margin-bottom: 0.3rem;
}

.price {
	font-family: 'Crimson Text', serif;
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 0.03em;
}

.list {
	margin-top: 0;
	padding: 0 1rem;
	display: flex;
	align-items: center;
}

.list ul li {
	font-size: 0.95rem;
	text-align: left;
	margin-bottom: 0.8rem;
	letter-spacing: 0.02em;
}

.list .fa-ul {
	margin-left: 1.5rem;
}

.list .fa-li {
	padding-top: 0.1rem;
}

#pricing i.fa-circle-check {
	font-size: 1.1rem;
	margin: 0;
	margin-right: 0.3rem;
}

.card-header {
	position: relative;
	z-index: 1;
	padding: 0.7rem 2rem;
	width: 100%;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.2rem;
	letter-spacing: 0.1em;
	color: #ffffff;
	line-height: 1.3rem;
	background: linear-gradient(to right, #fa897d 0%, #fe5f88 100%);
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
	-webkit-animation: glow 1s ease-in-out infinite alternate;
	-moz-animation: glow 1s ease-in-out infinite alternate;
	animation: glow 1s ease-in-out infinite alternate;
}

#pricing .premium {
	background-color: rgba(185, 242, 255, 0.4);
}

#pricing .premium i {
	margin-top: -1rem;
}

#pricing .premium .list {
	margin-top: 1.2rem;
}

#pricing .btn {
	color: #ffffff;
	background-color: #00e676;
	border-radius: 0.5rem;
	font-weight: 600;
	margin-top: 1rem;
	width: 75%;
}

#pricing .btn:hover {
	background-color: #00c968;
}

/* Reviews */
#reviews img {
	width: 100%;
	max-width: 9rem;
	object-fit: contain;
	clip-path: circle(50% at 50% 50%);
}

.carousel {
	border: none;
	box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
	border-radius: 0.5rem;
	background: #ffffff;
	height: 100%;
	padding: 3rem 2rem;
}

.carousel-inner {
	border-radius: 0.5rem;
}

.carousel-control-prev,
.carousel-control-next {
	color: #1e1666;
	font-size: 1.5rem;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
	color: #1e1666;
}

/* Contact Section */
.contact-info {
	margin-bottom: 6rem;
}

#contact .list {
	padding: 0;
	margin: 0;
}

#contact input {
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
}

#contact textarea {
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	height: 7rem;
}

#contact .btn {
	width: 100%;
	margin-top: 1rem;
}

/* Footer */
#footer {
	margin-top: 7rem;
	padding: 3rem 0;
	padding-bottom: 1rem;
	color: white;
	background: #011246;
}

#footer a {
	color: white;
}

#footer a:hover {
	font-weight: 500;
	color: #ffffff;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
	-moz-animation: glow 1s ease-in-out infinite alternate;
	animation: glow 1s ease-in-out infinite alternate;
}

.footer-img {
	width: 100%;
	max-width: 9rem;
	margin-right: 9rem;
}

.footer-menu {
	margin-bottom: 5rem;
}

.footer-menu h6 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	font-weight: 900;
}

.footer-list ul {
	font-weight: 400;
	font-size: 1rem;
	line-height: 1rem;
	list-style-type: none;
}

.footer-list i {
	color: #ffffff;
	margin-right: 1rem;
}

/* login Form & Sign Up Form */
#login-form,
#signup-form {
	background-color: #fcfcfc;
	height: 100vh;
	padding: 2.5rem;
}

#login-card .card,
#signup-card .card {
	width: 100%;
	max-width: 30rem;
}

#login-card input,
#signup-card input {
	border-radius: 0.5rem;
}

#signup-card input {
	margin-bottom: 1rem;
}

#login-card .btn {
	width: 100%;
}

.login-image,
.signup-image {
	width: 100%;
	max-width: 9rem;
	margin-bottom: 1.5rem;
}

.form-header {
	font-weight: 600;
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

#login-card .card-title,
#signup-card .card-title {
	margin-bottom: 1rem;
}

#signup-card .btn {
	width: 100%;
}

.signup-success {
	color: #32cd32;
	font-size: 1.1rem;
	font-weight: 700;
}

.signup-error {
	color: #ff0000;
	font-size: 1.2rem;
	font-weight: 700;
}
